@page
@model Parkeringsplads.Pages.Admin.CityAdmin

@{
    ViewData["Title"] = Model.CityId == 0 ? "Tilføj by" : "Opdater by";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h3>@(Model.CityId == 0 ? "Tilføj by" : "Opdater by")</h3>

<form method="post">
    @if (Model.CityId != 0)
    {
        <input type="hidden" asp-for="CityId" />
    }

    <div class="form-group">
        <label asp-for="CityName"></label>
        <input asp-for="CityName" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">
        @(Model.CityId == 0 ? "Tilføj by" : "Opdater by")
    </button>
</form>

@if (HttpContext.Session.GetString("IsAdmin") == "true"){

<a href="/Admin/AdminDashboard" class="btn btn-secondary mt-3">Tilbage til oversigt</a>
}