@page
@model Parkeringsplads.Pages.Admin.ResetPasswordModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form method="post">
    <div class="form-group">
        <label for="Email">User Email</label>
        <input type="email" class="form-control" id="Email" name="Email" asp-for="Email" required />
    </div>

    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" asp-for="NewPassword" required />
    </div>

    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="alert alert-success">
            @Model.SuccessMessage
        </div>
    }
</form>