@page
@model AddAddressModel
@{
    ViewData["Title"] = "Tilføj Adresse";
}

<h2>Tilføj en adresse</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState)
            {
                foreach (var error in modelState.Value.Errors)
                {
                    <li><strong>@modelState.Key</strong>: @error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<form method="post">
    

    <div class="mb-3">
        <label asp-for="Address.AddressRoad">Vejnavn</label>
        <input asp-for="Address.AddressRoad" class="form-control" />
        <span asp-validation-for="Address.AddressRoad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address.AddressNumber">Nummer</label>
        <input asp-for="Address.AddressNumber" class="form-control" />
        <span asp-validation-for="Address.AddressNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CityId">By</label>
        <select asp-for="CityId" asp-items="Model.City" class="form-control" placeholder="Vælg din by">

            <option value=""></option>

        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Gem adresse</button>
    <a asp-page="/Account/Profile" class="btn btn-secondary">Annuller</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
