@page
@model AddAddressModel
@{
    ViewData["Title"] = "Tilføj Adresse";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (HttpContext.Session.GetString("IsAdmin") == "true")
{
    <h1>Admin Tilføj Adresse</h1>
}
else
{
    <h1>Tilføj Adresse</h1>
}

<form method="post">
    
    @if (HttpContext.Session.GetString("IsAdmin") == "true")
    {
        <div class="mb-3">
            <label asp-for="UserId">Vælg bruger</label>
            <select asp-for="UserId" asp-items="Model.UserList" class="form-control">
                <option value="">-- Vælg en bruger --</option>
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    }

    <div class="mb-3">
        <label asp-for="Address.AddressRoad">Vejnavn</label>
        <input asp-for="Address.AddressRoad" class="form-control" />
        <span asp-validation-for="Address.AddressRoad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address.AddressNumber">Nummer</label>
        <input asp-for="Address.AddressNumber" class="form-control" />
        <span asp-validation-for="Address.AddressNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CityId">By</label>
        <select asp-for="CityId" asp-items="Model.City" class="form-control" placeholder="Vælg din by">

            <option value=""></option>

        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary border-0">Tilføj adresse</button>
    @if (HttpContext.Session.GetString("IsAdmin") == "true")
    {
        <a href="/Admin/AdminDashboard" class="btn btn-secondary">Tilbage til oversigt</a>
    }
    else
    {
        <a asp-page="/Account/Profile" class="btn btn-secondary">Annuller</a>
    }
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
