@page
@model AddAddressModel
@{
    ViewData["Title"] = "Tilføj Adresse";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2>Tilføj en adresse</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
       
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
      
    </div>
}

<form method="post">
    

    <div class="mb-3">
        <label asp-for="Address.AddressRoad">Vejnavn</label>
        <input asp-for="Address.AddressRoad" class="form-control" />
        <span asp-validation-for="Address.AddressRoad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address.AddressNumber">Nummer</label>
        <input asp-for="Address.AddressNumber" class="form-control" />
        <span asp-validation-for="Address.AddressNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CityId">By</label>
        <select asp-for="CityId" asp-items="Model.City" class="form-control" placeholder="Vælg din by">

            <option value=""></option>

        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Gem adresse</button>
    <a asp-page="/Account/Profile" class="btn btn-secondary">Annuller</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
