@page
@model CreateUserModel
@{
    ViewData["Title"] = "Create User";
}

<h2>Opret din profil</h2>

<form method="post" class="form-group">
    <div class="row">
        <div class="mb-3 col-sm-6">
            <label asp-for="User.FirstName"></label>
            <input asp-for="User.FirstName" class="form-control" pattern="[A-Za-zæøåÆØÅ\s]+" />
            <span asp-validation-for="User.FirstName"></span>
        </div>
        <div class="mb-3 col-sm-6">
            <label asp-for="User.LastName"></label>
            <input asp-for="User.LastName" class="form-control" pattern="[A-Za-zæøåÆØÅ\s]+" />
            <span asp-validation-for="User.LastName"></span>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-sm-6">
            <label asp-for="User.Phone"></label>
            <input asp-for="User.Phone" class="form-control" pattern="\d{8,}" title="Telefonnummeret skal være mindst 8 cifre." />
            <span asp-validation-for="User.Phone" class="text-danger"></span>
        </div>

        <div class="mb-3 col-sm-6">
            <label asp-for="User.Title" class="control-label">Rolle</label>
            <select asp-for="User.Title" class="form-control">
                <option value="">Vælg rolle</option>
                @foreach (var option in Model.TitleOptions)
                {
                    <option value="@option.Key">@option.Value</option>
                }
            </select>
            <span asp-validation-for="User.Title" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" type="password" class="form-control" />
        <span asp-validation-for="User.Password"></span>
    </div>

    <div class="mb-3">
        <label asp-for="User.SchoolId">Skole:</label>
        <select asp-for="User.SchoolId" asp-items="Model.Schools" class="form-control">
            <option value="">Vælg den skole du går på</option>
        </select>
        <span asp-validation-for="User.SchoolId"></span>
    </div>

    <h3 class="pt-3">Adresse informationer</h3>
    <p>Nedenfor bedes du indtaste dine adresseoplysninger, denne adresse kan hjælpe os med at finde ud af, hvor du rejser fra og til.</p>

    <div class="mb-3">
        <label>Postnummer og by</label>
        <select asp-for="CityId" asp-items="Model.City" class="form-control">
            <option value="">Vælg din by</option>
        </select>
        <span asp-validation-for="CityId"></span>
    </div>

    <div class="mb-3">
        <label>Vejnavn</label>
        <input asp-for="AddressRoad" class="form-control" pattern="[A-Za-zæøåÆØÅ\s]+" />
        <span asp-validation-for="AddressRoad"></span>
    </div>

    <div class="mb-3">
        <label>Nummer</label>
        <input asp-for="AddressNumber" class="form-control" />
        <span asp-validation-for="AddressNumber"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Opret bruger</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
