@page
@model Parkeringsplads.Pages.Account.ChangePasswordModel

@{
    ViewData["Title"] = "Skift adgangskode";
}

<h1>Skift adgangskode</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="CurrentPassword">Nuværende adgangskode</label>
        <input type="password" class="form-control" id="CurrentPassword" asp-for="CurrentPassword" required />
    </div>

    <div class="form-group">
        <label for="NewPassword">Ny adgangskode</label>
        <input type="password" class="form-control" id="NewPassword" asp-for="NewPassword" required />
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Gentag ny adgangskode</label>
        <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword" required />
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
