@page
@model Parkeringsplads.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Logout";
}

<p>You have been logged out. Redirecting to login in 3 seconds...</p>

<script>
    setTimeout(function () {
        window.location.href = '/';
    }, 3000); // 3 seconds
</script>
