@page
@model Parkeringsplads.Pages.CarPages.CarEditModel
@{
    ViewData["Title"] = "Opdater biler";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (HttpContext.Session.GetString("IsAdmin") == "true")
{
    <h1>Admin Opdater Bil</h1>
}
else
{
    <h1>Mine Biler</h1>
}

@if (Model.CarToEdit != null)
{
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Ændringer til bil</h5>
            </div>
            <div class="card-body">
                
                <form method="post" asp-page-handler="Update">
                    <input type="hidden" asp-for="CarToEdit.CarId" />

                    <div class="form-group">
                        <label asp-for="CarToEdit.CarModel" class="form-label"></label>
                        <input asp-for="CarToEdit.CarModel" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="CarToEdit.CarPlate" class="form-label"></label>
                        <input asp-for="CarToEdit.CarPlate" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="CarToEdit.CarCapacity" class="form-label"></label>
                        <input asp-for="CarToEdit.CarCapacity" class="form-control " type="number" required min="1" max="10" />
                    </div>
                    <button type="submit" class="btn btn-primary">Opdater bil</button>
                </form>
            </div>
        </div>
    </div>


}
else
{
    <p>Car not found.</p>
}

@if (HttpContext.Session.GetString("IsAdmin") == "true")
{

    <a href="/Admin/AdminDashboard" class="btn btn-secondary mt-3">Tilbage til oversigt</a>
}